{% extends "header.html" %}
{% block title %}VQA Performance{% endblock %}


{% block content %}
<div class="page-header">
	<h1 class="text-center">Overview of training set</h1>
</div>
<hr class="mt-3 mb-3">
<div class="row">
	<h5>Total number of data sets: &nbsp <span class="badge badge-secondary">{{website_data['nr_datasets']}}</span></h5>
</div>
<hr class="mb-3">
<div class="row">
	<div class="col-md-4">
		<div id="{{ids[0]}}"></div>
	</div>
	<div class="col-md-4">	    
		<div id="{{ids[1]}}"></div>
	</div>
	<div class="col-md-4">
		<div id="{{ids[2]}}"></div>
		<p style='font-size: 10px'>* defined as ratio of questions out of train set for which at least one annotation is covered by the list of answers ordered by frequency</p>
	</div>
</div>

<hr class="mt-3 mb-3">

<!-- dropdown menu to select question type -->
<h5>Details per question type </h5> <p></p>
<form class="form-inline" method="POST" action="{{ url_for('EDA') }}">
  <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
       		<label class="input-group-text" for="inputGroupSelect">Please select a Question Type &nbsp &nbsp </label>
       	</div>
            <select name="comp_select" class="selectpicker form-control" id="inputGroupSelect" >
            	{% for qt in website_data['question_type_list'] %}
            		<!-- preselect the chosen question type -->
            		{% if qt == website_data['choice'] %}
            			<option selected value="{{ qt }}">{{ qt }}</option>
            		{% else %}}
            			<option  value="{{ qt }}">{{ qt }}</option>
            		{% endif %}
          		{% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>  
  </div>
</form>

<div class="row">
	<div class="col-md-6">
		<h6><br>Exemplary test samples</h6>
		<div id="carouselIndicators" class="carousel slide pb-5" data-ride="carousel">
			 <ol class="carousel-indicators" style="background-color: #C0C0C0">
			 	{% for sample in (website_data['qa_set']) %}
			 		{% if loop.index == 1 %}
			 			<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
			 		{% else %}		 			
			    		<li data-target="#carouselIndicators" data-slide-to={{(loop.index-1)|string()}}></li>
			    	{% endif %}
		    	{% endfor %} 
			 </ol>
			 <div class="carousel-inner">
			 	{% for sample in (website_data['qa_set']) %}
					{% if loop.index == 1 %}
						<div class="carousel-item active align-items-center flex-column p-4">
					{% else %}
						<div class="carousel-item align-items-center flex-column p-4">
					{% endif %}
							<div class="card" >
							  <img class="d-block w-100"  src="{{url_for('static', filename='images/train/'~sample['image_filename'])}}" alt={{slide~loop.index|string}}>
							  <div class="card-body">
							    <h5 class="card-title">Q: {{sample['question']}}</h5>
							    <p class="card-text">A: {{sample['answers']}}</p>
							  </div>
							</div>	
					 	</div>	 	
				 {% endfor %}
			</div>
			<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div> 
	</div>
	<div class="col-md-6">
		<div id="{{ids[3]}}"></div>
	</div>
</div>

{% endblock %}